body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /*quita las vineta*/
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none; /*quita el subrayado*/
    cursor: pointer; /*hace que el cursor se convierta en manita*/
}

nav .nav-right-section a{
    margin-right: 25px;
    color: black;
}

nav .nav-right-section .menu-icon{
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png");
    width: 27px;
    height: 27px;
    background-size: contain; /*ajustar al tamano de la pantalla*/
    background-position: center;
    background-repeat: none;
}

nav .nav-right-section img{
    border-radius: 80px;
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

main{
    margin-top: 30px;
    text-align: center;
}

main .main-logo{
    width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 310px;
    height: 110px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}
/*hover indica que los cambios se ejecutaran en el elemento cuando el mouse este encima del mismo*/
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
}

main .main-input .search-icon{
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .cam-icon{
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQU9EB56qp8B5qgt89OtkGpN86KFafBM7cBixk1nXOs7ukEVbJE");
    width: 18px;
    height: 18px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 6px;
    padding: 0 15px;
    margin-right: 12px;
}

main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 0.5px 1px 0 #000001;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    display: grid; /*Lo conviete en cuadricula*/
    grid-template-columns: 1fr 1fr; /*Lo divide en 2 columnas*/
    align-items: center;
    font-size: 15px;
    border-top: 1px solid #e4e4e4;
}

/*width: 100%;: Este estilo hará que el elemento se expanda para ocupar el 100% del ancho de su elemento contenedor.

height: 50px;: Este estilo establece la altura del elemento en 50 píxeles.

background-color: #f2f2f2;: Este estilo establece el color de fondo del elemento a un tono de gris claro.

position: absolute;: Este estilo saca al elemento del flujo normal del documento y lo posiciona en relación con su contenedor más cercano que tenga una posición distinta de 'static'. Si no existe tal contenedor, se refiere al cuerpo del documento.

bottom: 0;: En conjunto con position: absolute;, este estilo coloca la parte inferior del elemento en la línea inferior de su contenedor.

display: grid;: Este estilo convierte al elemento en un contenedor de grid, lo que permite aplicar estilos de grid a sus hijos.

grid-template-columns: 1fr 1fr;: Esto divide el contenedor de grid en dos columnas de igual ancho. 'fr' es una unidad de medida que representa una fracción del espacio disponible.

align-items: center;: Este estilo centrará verticalmente los elementos hijos dentro del contenedor de grid.

font-size: 15px;: Este estilo establece el tamaño de la fuente de texto dentro del elemento en 15 píxeles.

border-top: 1px solid #e4e4e4;: Este estilo agrega un borde sólido de 1 píxel en la parte superior del elemento. El color del borde es un tono de gris.*/

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #5f6368;
}